<!--
 * Header EJS template
 * @file: /application/private/view/ejs/header.ejs
 * @author: Vladimir Bukhin
 * @Description: EJS tenmplate that handles the header of the web application.
-->
<div class="page-header">
    <h1><img class="header-logo" src="<%= typeConfig.images.logo %>"/>
        <%= typeConfig.text.pageHeader %>
        <small><%= typeConfig.text.headerSubtext %> </small>
    </h1>
</div>